{% args ip %}
<html>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-echarts@6.2.3"></script>





<head>
    <!-- <meta http-equiv="refresh" content="5"> -->
<title>SmartOfficeStation</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div class="container ">
    <hr size=20 color=#b90f22> <hr size=4 color=#000000>
    <center><img src='https://www.ptw.tu-darmstadt.de/media/fachgebietptw/grafikenundfotos/logos_2/PTW_Logo.svg'  ></center> 
 
    <hr size=20 color=#b90f22> <hr size=4 color=#000000>
  </div>

    <p id="ip" hidden>{{ip}}</p>

  
  <div id="app" class="container mt-3">

    <h1>Sensor Data</h1>
    <table hidden class="table">
      <thead>
        <tr>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td >Dht22 sensor</td>
          <td  >
            <p id="temp">temperature: </p>
            <p id="humi">humidity:</p>
            
        </td>
  
        </tr>

      

      </tbody>
    </table>
    <div class="container-fluid"> 
      <div class="row">
        <div class="col-md-6"  style="width: 400px;height:400px;">
          <v-chart  :option="temp_option" />
        </div>

        <div class="col-md-6"  style="width: 400px;height:400px;">
          <v-chart  :option="humi_option" />
        </div>

        
        <div class="col-md-6"  style="width: 8000px;height:400px;">
          <v-chart  :option="lineChartTempOption" />
        </div>
          
   
        
        <!-- <button :onclick="addOneData">add one point</button> -->


      </div>
    </div>


  </div>


</body>

</html>



<script>

const app = Vue.createApp({

    data() {
      return {
   
        temp:0,
        humi:0,
        ip:'',
        weekday:[
          "Sun",
          "Mon",
          "Tues",
          "Wed",
          "Thur",
          "Fri",
          "Sat"
        ],
        weekdayColor:[
          "gray",
          "green",
          "red",
          "blue",
          "yellow",
          "purple",
          "gray"
        ],
        temp_option:{
          // width: 8000,
          // height: 4000,

          series:[
            {
              type:'gauge',
              detail:{
                formatter:'{value}°C'
              },
              // min:-30,
              max:50,
              data:[{
                value:this.temp,
                name:"temperature"
              }]
            }

          ]
        },
        humi_option:{
          series:[
            {
              type:'gauge',
              detail:{
                formatter:'{value}%'
              },
              data:[{
                value:this.humi,
                name:"humidity"
              }]
            }

          ]
        },
        lineChartTempOption:{
          xAxis: {
            type: 'category',
            data: []
          },
          yAxis: {
            type: 'value',
            name: 'Temperature',
            min: 0,
            max: 40,
            position: 'left',
            axisLabel: {
              formatter: '{value} °C'
              }
            },
          series: [
            {
              data: [],
              color:'black',
              type: 'line',
              smooth: true,

    }
  ]
}
     }
    },
    methods:{
        getNetworkIp(){
            this.ip=document.getElementById("ip").innerText
            console.log(this.ip)
        },

        QueryData(enter_point,){
            var config = {
          
            method: 'get',
            url: 'http://'+this.ip+'/'+enter_point,
            headers: {} };
        
            axios(config)
                .then(function (response) {
                    // console.log(response.data);
                
                    this.temp=response.data['temperature']
                    this.humi=response.data['humidity']
                    console.log(this.temp)
                    console.log("dht data updated!")

                
                    
                }.bind(this))
                .catch(function (error) {
                console.log(error);
                });
        },
        DumpData(enter_point,data){
            var config = {
          
            method: 'post',
            url: 'http://'+this.ip+'/'+enter_point+'/'+'dump',
            headers: {},
            data :data


          };
        
            axios(config)
                .then(function (response) {
                    // console.log(response.data);
                
                    this.temp=response.data['temperature']
                    this.humi=response.data['humidity']
                    console.log(this.temp)
                    console.log("dht data updated!")

                
                    
                }.bind(this))
                .catch(function (error) {
                console.log(error);
                });
        },
 
        dht22Update(mode) {
          // mode: choose which part should be update
          // this.QueryData('dht22')
          // if (mode!='beforemount')
          // {
          //   document.getElementById("temp").innerHTML="temperature:"+this.temp;
          //   document.getElementById("humi").innerHTML="humidity:"+this.humi;
          // }
      
          newDate = new Date()

          if (mode=='gauge' ||mode=='beforemount' )
          {
            this.QueryData('dht22')

            this.humi_option['series'][0]['data'][0]['value']=this.humi
            this.temp_option['series'][0]['data'][0]['value']=this.temp
            console.log('gauge:'+newDate.getSeconds() )

          }
          if(mode=='category'||mode=='beforemount')
          {
            this.QueryData('dht22')
            this.DumpData('dht22',)
            date = this.weekday[newDate.getDay()] +' '+String(newDate.getHours())+':'+String(newDate.getMinutes())
            this.lineChartTempOption.series[0].data.push(this.temp)
            this.lineChartTempOption.xAxis.data.push(date)
            var dump_data= {
              date :
              {
                'temp':this.temp,
                'humi':this.humi,
              }

            }
            this.DumpData('dht22',dump_data)

            this.lineChartTempOption.series[0].color=this.weekdayColor[newDate.getDay()]

          }
        

          },
        // m2() {
        //     document.getElementById("humi").innerHTML='M2!';
        // },
        sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
        },
        UpdateGauge:async function(freq)  {
            var T= true
            while (T){
                this.dht22Update('gauge')
                await this.sleep(freq)
          
            }
            
        },
        UpdateCategory:async function(freq)  {
            var T= true
            while (T){
              this.dht22Update('category')
                await this.sleep(freq)
                console.log("running")

            }
            
        },
        addOneData() {
          let n = 5
          let day = 0
          newPoint = 40*Math.random()
          
     
            while (n>0){
              newDate = new Date()

              newPoint = 40*Math.random()
              newDay = Math.round(7*Math.random())

              this.lineChartTempOption.series[0].data.push(newPoint)
              this.lineChartTempOption.xAxis.data.push(this.weekday[newDay] +' '+String(newDate.getHours())+':'+String(newDate.getMinutes()))
              this.lineChartTempOption.series[0].color=this.weekdayColor[newDay]
              n--
              console.log(n)

            }
            // console.log(day)
            
          


          console.log(newDate)
        }
    },
    mounted(){
        this.getNetworkIp()
        this.UpdateGauge(3000)
        this.UpdateCategory(3000) //1800000 for 30 mins
       
    },
    // beforeMount(){
    //   this.dht22Update('beforemount')

    // }

})




app.component('v-chart', VueECharts)
app.mount('#app')


</script>


