{% args ip %}
<html>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>





<head>
    <!-- <meta http-equiv="refresh" content="5"> -->
<title>SmartOfficeStation</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<!-- <p>body </p> -->
<div class="container ">
    <hr size=20 color=#b90f22> <hr size=4 color=#000000>
    <center><img src='https://www.ptw.tu-darmstadt.de/media/fachgebietptw/grafikenundfotos/logos_2/PTW-Logo.png' width=140 height=92></center> 
    <hr size=20 color=#b90f22> <hr size=4 color=#000000>
  </div>

    <p id="ip" hidden>{{ip}}</p>

  
  <div id="app" class="container mt-3">
    <h1>Sensor Data</h1>
    <table class="table">
      <thead>
        <tr>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td >Dht22 sensor</td>
          <td  >
            <p id="temp">temperature: </p>
            <p id="humi">humidity:</p>
        </td>
  
        </tr>

      

      </tbody>
    </table>
    </div>


</body>

</html>



<script>

const app = Vue.createApp({

    data() {
      return {
   
        temp:0,
        humi:0,
        ip:''
      }
    },
    methods:{
        getNetworkIp(){
            this.ip=document.getElementById("ip").innerText
            console.log(this.ip)
        },

        QueryData(enter_point){
            var config = {
          
            method: 'get',
            url: 'http://'+this.ip+'/'+enter_point,
            headers: {} };
        
            axios(config)
                .then(function (response) {
                    // console.log(response.data);
                
                    this.temp=response.data['temperature']
                    this.humi=response.data['humidity']
                
                    
                }.bind(this))
                .catch(function (error) {
                console.log(error);
                });
        },
        dht22_update() {
            this.QueryData('dht22')
            document.getElementById("temp").innerHTML="temperature:"+this.temp;
            document.getElementById("humi").innerHTML="humidity:"+this.humi;

        },
        // m2() {
        //     document.getElementById("humi").innerHTML='M2!';
        // },
        sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
        },
         auto_update:async function()  {
            var T= true
            while (T){
                this.dht22_update()
                await this.sleep(3000)
           

            }
            
        }

    },
    mounted(){
        this.getNetworkIp()
        this.auto_update()
       
    }

})



// app.component('runoob', {
//     template: '<h1>Components!</h1>'
// })


app.mount('#app')


</script>


